// 通用樣式

.textLs {
  letter-spacing: 0.25rem;
}

.textLsSm {
  letter-spacing: 0.125rem;
}

.textLsLg {
  letter-spacing: 0.5rem;
}

.backgroundCover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cursorPoint {
  cursor: pointer;
}

.thumbnail {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: $muted;
  border-radius: 0.25rem;
  text-align: center;
  color: $white;
  font-size: 2rem;
  line-height: 3rem;
  object-fit: cover;
  object-position: center;
}
