.thumbnail {
  display: block;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  object-position: center;
}

.thumbnailDefault {
  width: 3rem;
  height: 3rem;
  background-color: $gray-500;
  text-align: center;
  color: $white;
  font-size: 2rem;
  line-height: 3rem;
  object-fit: cover;
  object-position: center;
}
