.sidebar {
  @include media-breakpoint-up(xl) {
    position: fixed;
    width: 18rem;
    min-height: 100vh;
  }
}

.menuLink {
  &:hover,
  &:focus {
    opacity: 0.75;
  }
  &.active {
    background: rgba($secondary, 0.75);
    opacity: 1;
  }
}

.main {
  min-height: calc(100vh - 3.75rem);
  @include media-breakpoint-up(xl) {
    margin-left: 18rem;
    min-height: 100vh;
  }
}
